.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
            box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
  }
  .panel-primary {
    border-color: #2af53b;
  }

  .panel-primary > .panel-heading {
    color: #fff;
    background-color: #2af53b;
    border-color: #2af53b;
  }









.col-xs-3{
    padding-left: 30px;
  }
  .huge {
    font-size: 40px;
  }

  .cmt{
    padding-left: 90px;
  }

  .pull-left{
    padding-left: 100px;    
  }